pc-datakind/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pc-datakind"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsReqFundingSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dataset": {
						"type": "string",
						"defaultValue": "KenftsReqFunding"
					}
				},
				"folder": {
					"name": "Kenya/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/a1273a2a-7fa5-4233-8ba5-d756abc2baee/download/fts_requirements_funding_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "typeId",
						"type": "String"
					},
					{
						"name": "typeName",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "percentFunded",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_datakindDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datakindpostgres",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string",
						"defaultValue": "datakindtable"
					}
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "public",
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsFundingCluster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "countryCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countryCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "startDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "endDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "endDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "clusterCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "clusterCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cluster",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cluster",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "requirements",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "requirements",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "funding",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "funding",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "percentFunded",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "percentFunded",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsFundingClusterSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenftsFundingCluster_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsFundingClusterGlobal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsFundingGlobalClusterSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenftsFundingClusterGlobal_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsIncomingFunding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "budgetYear",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "budgetYear",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "amountUSD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "amountUSD",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcOrganization",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcOrganization",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcOrganizationTypes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcOrganizationTypes",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcLocations",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcLocations",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcUsageYearStart",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcUsageYearStart",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcUsageYearEnd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcUsageYearEnd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destPlan",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destPlan",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destPlanCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destPlanCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destPlanId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destPlanId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destOrganization",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destOrganization",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destOrganizationTypes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destOrganizationTypes",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destGlobalClusters",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destGlobalClusters",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destLocations",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destLocations",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destProject",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destProject",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destProjectCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destProjectCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destEmergency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destEmergency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destUsageYearStart",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destUsageYearStart",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destUsageYearEnd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destUsageYearEnd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "contributionType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "contributionType",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "flowType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "flowType",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "method",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "method",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "boundary",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "boundary",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "onBoundary",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "onBoundary",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "firstReportedDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "firstReportedDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "decisionDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "decisionDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "keywords",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "keywords",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "originalAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "originalAmount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "originalCurrency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "originalCurrency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "exchangeRate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "exchangeRate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "refCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "refCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "createdAt",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "createdAt",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "updatedAt",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "updatedAt",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsIncomingFundingSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenftsIncomingFunding_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsReqFunding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsReqFundingSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenftsReqFunding_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenftsReqFundingSrc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_KenFoodPrices_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "cleandate"
						},
						{
							"name": "cast1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          date as string,",
						"          admin1 as string,",
						"          admin2 as string,",
						"          market as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          category as string,",
						"          commodity as string,",
						"          unit as string,",
						"          priceflag as string,",
						"          pricetype as string,",
						"          currency as string,",
						"          price as string,",
						"          usdprice as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"cast1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"source1 filter(not(startsWith(date, '#'))) ~> filter1",
						"filter1 derive(date = toDate(date)) ~> cleandate",
						"cleandate cast(output(",
						"          date as date,",
						"          admin1 as string,",
						"          admin2 as string,",
						"          market as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          category as string,",
						"          commodity as string,",
						"          unit as string,",
						"          priceflag as string,",
						"          pricetype as string,",
						"          currency as string,",
						"          price as float,",
						"          usdprice as float",
						"     ),",
						"     errors: true) ~> cast1",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenHealthFacilities')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "KenHealthFacilities_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Code as short,",
						"          Name as string,",
						"          Registration_number as string,",
						"          {Keph level} as string,",
						"          {Facility type} as string,",
						"          Owner as string,",
						"          {Regulatory body} as string,",
						"          Beds as short,",
						"          Cots as short,",
						"          County as string,",
						"          Constituency as string,",
						"          {Sub county} as string,",
						"          Ward as string,",
						"          {Operation status} as string,",
						"          Open_whole_day as boolean,",
						"          Open_public_holidays as boolean,",
						"          Open_weekends as boolean,",
						"          Open_late_night as boolean,",
						"          Service_names as string,",
						"          Approved as boolean,",
						"          {Public visible} as boolean,",
						"          Closed as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenHealthIndicators')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "KenHealthIndicators_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "cast1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Country Name} as string,",
						"          {Country ISO3} as string,",
						"          Year as string,",
						"          {Indicator Name} as string,",
						"          {Indicator Code} as string,",
						"          Value as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"split1@Good cast(output(",
						"          {Country Name} as string,",
						"          {Country ISO3} as string,",
						"          Year as integer,",
						"          {Indicator Name} as string,",
						"          {Indicator Code} as string,",
						"          Value as float",
						"     ),",
						"     errors: true) ~> cast1",
						"cast1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsFundingCluster')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_KenftsFundingCluster_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "ds_KenftsFundingClusterGlobal_copied",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "types"
						},
						{
							"name": "join1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          countryCode as string,",
						"          id as string,",
						"          name as string,",
						"          code as string,",
						"          startDate as string,",
						"          endDate as string,",
						"          year as string,",
						"          clusterCode as string,",
						"          cluster as string,",
						"          requirements as string,",
						"          funding as string,",
						"          percentFunded as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(output(",
						"          countryCode as string,",
						"          id as string,",
						"          name as string,",
						"          code as string,",
						"          startDate as string,",
						"          endDate as string,",
						"          year as string,",
						"          clusterCode as string,",
						"          cluster as string,",
						"          requirements as string,",
						"          funding as string,",
						"          percentFunded as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"types split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"join1 filter(not(startsWith(source1@countryCode, '#'))) ~> filter1",
						"filter1 derive(id = toInteger(source1@id),",
						"          startDate = toDate(source1@startDate),",
						"          endDate = toDate(source1@endDate),",
						"          year = toInteger(source1@year),",
						"          funding = toFloat(source1@funding),",
						"          percentFunded = toFloat(source1@percentFunded),",
						"          clusterCode = toInteger(source1@clusterCode)) ~> types",
						"source1, source2 join(source1@countryCode == source2@countryCode,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsIncomingFunding')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "KenftsIncomingFunding_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "types"
						}
					],
					"scriptLines": [
						"source(output(",
						"          date as string,",
						"          budgetYear as string,",
						"          description as string,",
						"          amountUSD as string,",
						"          srcOrganization as string,",
						"          srcOrganizationTypes as string,",
						"          srcLocations as string,",
						"          srcUsageYearStart as string,",
						"          srcUsageYearEnd as string,",
						"          destPlan as string,",
						"          destPlanCode as string,",
						"          destPlanId as string,",
						"          destOrganization as string,",
						"          destOrganizationTypes as string,",
						"          destGlobalClusters as string,",
						"          destLocations as string,",
						"          destProject as string,",
						"          destProjectCode as string,",
						"          destEmergency as string,",
						"          destUsageYearStart as string,",
						"          destUsageYearEnd as string,",
						"          contributionType as string,",
						"          flowType as string,",
						"          method as string,",
						"          boundary as string,",
						"          onBoundary as string,",
						"          status as string,",
						"          firstReportedDate as string,",
						"          decisionDate as string,",
						"          keywords as string,",
						"          originalAmount as string,",
						"          originalCurrency as string,",
						"          exchangeRate as string,",
						"          id as string,",
						"          refCode as string,",
						"          createdAt as string,",
						"          updatedAt as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"types split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"source1 filter(not(startsWith(date, '#'))) ~> filter1",
						"filter1 derive(date = toDate(date)) ~> types",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsReqFundingCovid')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "KenftsReqFundingCovid_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "types"
						}
					],
					"scriptLines": [
						"source(output(",
						"          countryCode as string,",
						"          id as string,",
						"          name as string,",
						"          code as string,",
						"          typeId as string,",
						"          typeName as string,",
						"          startDate as string,",
						"          endDate as string,",
						"          year as string,",
						"          requirements as string,",
						"          funding as string,",
						"          covidFunding as string,",
						"          covidPercentageOfFunding as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"types split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"source1 filter(not(startsWith(countryCode, '#'))) ~> filter1",
						"filter1 derive(id = toInteger(id)) ~> types",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pq_KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ds_KenFoodPrices_copied",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ds_KenFoodPrices_copied",
							"dataset": {
								"referenceName": "ds_KenFoodPrices_copied",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared ds_KenFoodPrices_copied = let AdfDoc = AzureStorage.BlobContents(\"https://pcoulibalystorage.blob.core.windows.net/datakind/copied/KenFoodPrice\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"ds_KenFoodPrices_copied\",\r\n  #\"Removed top rows\" = Table.Skip(Source, 1) in #\"Removed top rows\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pq_KenftsFundingCluster')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ds_KenftsFundingCluster_copied",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ds_KenftsFundingCluster_copied",
							"dataset": {
								"referenceName": "ds_KenftsFundingCluster_copied",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared ds_KenftsFundingCluster_copied = let AdfDoc = AzureStorage.BlobContents(\"https://pcoulibalystorage.blob.core.windows.net/datakind/copied/KenftsFundingCluster\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"ds_KenftsFundingCluster_copied\",\r\n  #\"Removed top rows\" = Table.Skip(Source, 1) in #\"Removed top rows\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Main_KenftsFunding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_KenftsFundingCluster",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_KenftsFundingClusterGlobal",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Execute Pipeline2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenftsFundingCluster",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {
										"tableName": "kenftsfunding"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_KenftsFundingCluster')]",
				"[concat(variables('factoryId'), '/pipelines/pl_KenftsFundingClusterGlobal')]",
				"[concat(variables('factoryId'), '/dataflows/KenftsFundingCluster')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "admin1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "admin1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "admin2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "admin2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "market",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "market",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "commodity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "commodity",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "priceflag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "priceflag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "pricetype",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pricetype",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "usdprice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "usdprice",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenFoodPricesSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenFoodPrices_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenFoodPrices",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {
										"tableName": "kenfoodprices"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/KenFoodPrices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenHealthFacilities')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenHealthFacilities",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenHealthFacilities_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenHealthFacilities",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {
										"tableName": {
											"value": "@pipeline().parameters.fileName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "kenhealthfacilities"
					}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/KenHealthFacilities')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenHealthIndicators')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country ISO3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country ISO3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Indicator Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Indicator Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Indicator Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Indicator Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenHealthIndicatorsSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenHealthIndicators_copied",
								"type": "DatasetReference",
								"parameters": {
									"dataset": {
										"value": "@pipeline().parameters.dataset",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenHealthIndicators",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"dataset": "KenHealthIndicators_copied"
									},
									"sink1": {
										"tableName": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"dataset": {
						"type": "string",
						"defaultValue": "KenHealthIndicators_copied"
					},
					"tableName": {
						"type": "string",
						"defaultValue": "kenhealthindicators"
					}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/KenHealthIndicators')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsReqFundingCovid')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsReqFundingCovidSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenftsReqFundingCovid_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenftsReqFundingCovid",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {
										"tableName": {
											"value": "@pipeline().parameters.fileName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "KenftsReqFundingCovid"
					}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/KenftsReqFundingCovid')]"
			]
		}
	]
}