pipeline/pl_SomFoodPrices.json
{
	"name": "pl_SomFoodPrices",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_SomFoodPricesSrc",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_SomFoodPrices_copied",
						"type": "DatasetReference",
						"parameters": {
							"datasetFileName": "SomFoodPrices_copied"
						}
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SomFoodPrices",
						"type": "DataFlowReference",
						"parameters": {
							"cols": {
								"value": "'@{activity('Copy data1').output}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"source1": {
								"datasetFileName": {
									"value": "@pipeline().parameters.dataset",
									"type": "Expression"
								}
							},
							"sink1": {
								"table": {
									"value": "@pipeline().parameters.tableName",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.input",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item(), '#'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"tableName": {
				"type": "string",
				"defaultValue": "somfoodprices"
			},
			"dataset": {
				"type": "string",
				"defaultValue": "SomFoodPrices_copied"
			},
			"input": {
				"type": "array"
			},
			"cols": {
				"type": "string",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "Somalia"
		},
		"annotations": []
	}
}