pc-datakind/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pc-datakind"
		},
		"ls_datakindpostgres_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_datakindpostgres'"
		},
		"ls_injectionsa_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_injectionsa'"
		},
		"ls_humdata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.humdata.org/dataset/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Main_KenftsFunding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_KenftsFundingCluster",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_KenftsFundingClusterGlobal",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Execute Pipeline2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenftsFundingCluster",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {
										"tableName": "kenftsfunding"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_KenftsFundingCluster')]",
				"[concat(variables('factoryId'), '/pipelines/pl_KenftsFundingClusterGlobal')]",
				"[concat(variables('factoryId'), '/dataflows/KenftsFundingCluster')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_SomFoodPrices_copied",
								"type": "DatasetReference",
								"parameters": {
									"datasetFileName": "SomFoodPrices_copied"
								}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.structure",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "GetColumns",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SomFoodPrices",
								"type": "DataFlowReference",
								"parameters": {
									"cols": {
										"value": "'@{variables('GetColumns')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {
										"datasetFileName": "SomFoodPrices_copied"
									},
									"sink1": {
										"table": "datakind"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"GetColumns": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Somalia"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SomFoodPrices_copied')]",
				"[concat(variables('factoryId'), '/dataflows/SomFoodPrices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "admin1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "admin1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "admin2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "admin2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "market",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "market",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "commodity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "commodity",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "priceflag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "priceflag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "pricetype",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pricetype",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "usdprice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "usdprice",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenFoodPricesSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenFoodPrices_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenFoodPrices",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {
										"tableName": "kenfoodprices"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenFoodPricesSrc')]",
				"[concat(variables('factoryId'), '/datasets/ds_KenFoodPrices_copied')]",
				"[concat(variables('factoryId'), '/dataflows/KenFoodPrices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenHealthFacilities')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenHealthFacilities",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenHealthFacilities_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenHealthFacilities",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {
										"tableName": {
											"value": "@pipeline().parameters.fileName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "kenhealthfacilities"
					}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenHealthFacilities')]",
				"[concat(variables('factoryId'), '/datasets/KenHealthFacilities_copied')]",
				"[concat(variables('factoryId'), '/dataflows/KenHealthFacilities')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenHealthIndicators')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country ISO3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country ISO3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Indicator Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Indicator Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Indicator Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Indicator Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenHealthIndicatorsSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenHealthIndicators_copied",
								"type": "DatasetReference",
								"parameters": {
									"dataset": {
										"value": "@pipeline().parameters.dataset",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenHealthIndicators",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"dataset": "KenHealthIndicators_copied"
									},
									"sink1": {
										"tableName": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"dataset": {
						"type": "string",
						"defaultValue": "KenHealthIndicators_copied"
					},
					"tableName": {
						"type": "string",
						"defaultValue": "kenhealthindicators"
					}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenHealthIndicatorsSrc')]",
				"[concat(variables('factoryId'), '/datasets/KenHealthIndicators_copied')]",
				"[concat(variables('factoryId'), '/dataflows/KenHealthIndicators')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsFundingCluster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "countryCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countryCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "startDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "endDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "endDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "clusterCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "clusterCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cluster",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cluster",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "requirements",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "requirements",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "funding",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "funding",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "percentFunded",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "percentFunded",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsFundingClusterSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenftsFundingCluster_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenftsFundingClusterSrc')]",
				"[concat(variables('factoryId'), '/datasets/ds_KenftsFundingCluster_copied')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsFundingClusterGlobal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsFundingGlobalClusterSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_KenftsFundingClusterGlobal_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenftsFundingGlobalClusterSrc')]",
				"[concat(variables('factoryId'), '/datasets/ds_KenftsFundingClusterGlobal_copied')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsIncomingFunding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "budgetYear",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "budgetYear",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "amountUSD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "amountUSD",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcOrganization",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcOrganization",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcOrganizationTypes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcOrganizationTypes",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcLocations",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcLocations",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcUsageYearStart",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcUsageYearStart",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "srcUsageYearEnd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "srcUsageYearEnd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destPlan",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destPlan",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destPlanCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destPlanCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destPlanId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destPlanId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destOrganization",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destOrganization",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destOrganizationTypes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destOrganizationTypes",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destGlobalClusters",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destGlobalClusters",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destLocations",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destLocations",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destProject",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destProject",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destProjectCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destProjectCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destEmergency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destEmergency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destUsageYearStart",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destUsageYearStart",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destUsageYearEnd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destUsageYearEnd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "contributionType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "contributionType",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "flowType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "flowType",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "method",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "method",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "boundary",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "boundary",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "onBoundary",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "onBoundary",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "firstReportedDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "firstReportedDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "decisionDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "decisionDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "keywords",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "keywords",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "originalAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "originalAmount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "originalCurrency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "originalCurrency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "exchangeRate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "exchangeRate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "refCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "refCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "createdAt",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "createdAt",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "updatedAt",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "updatedAt",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsIncomingFundingSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenftsIncomingFunding_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenftsIncomingFundingSrc')]",
				"[concat(variables('factoryId'), '/datasets/KenftsIncomingFunding_copied')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsReqFunding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsReqFundingSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenftsReqFunding_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenftsReqFundingSrc')]",
				"[concat(variables('factoryId'), '/datasets/KenftsReqFunding_copied')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_KenftsReqFundingCovid')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_KenftsReqFundingCovidSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "KenftsReqFundingCovid_copied",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "KenftsReqFundingCovid",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {
										"tableName": {
											"value": "@pipeline().parameters.fileName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "KenftsReqFundingCovid"
					}
				},
				"folder": {
					"name": "Kenya"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenftsReqFundingCovidSrc')]",
				"[concat(variables('factoryId'), '/datasets/KenftsReqFundingCovid_copied')]",
				"[concat(variables('factoryId'), '/dataflows/KenftsReqFundingCovid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SomFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SomFoodPricesSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_SomFoodPrices_copied",
								"type": "DatasetReference",
								"parameters": {
									"datasetFileName": "SomFoodPrices_copied"
								}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SomFoodPrices",
								"type": "DataFlowReference",
								"parameters": {
									"cols": {
										"value": "'@{activity('Copy data1').output}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {
										"datasetFileName": {
											"value": "@pipeline().parameters.dataset",
											"type": "Expression"
										}
									},
									"sink1": {
										"table": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('GetColumns')",
								"type": "Expression"
							},
							"condition": {
								"value": "@not(equals(item(), '#'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_SomFoodPrices_copied",
								"type": "DatasetReference",
								"parameters": {
									"datasetFileName": "SomFoodPrices_copied"
								}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.structure",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "GetColumns",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"tableName": {
						"type": "string",
						"defaultValue": "somfoodprices"
					},
					"dataset": {
						"type": "string",
						"defaultValue": "SomFoodPrices_copied"
					},
					"input": {
						"type": "array"
					},
					"cols": {
						"type": "string",
						"defaultValue": []
					}
				},
				"variables": {
					"GetColumns": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Somalia"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SomFoodPricesSrc')]",
				"[concat(variables('factoryId'), '/datasets/ds_SomFoodPrices_copied')]",
				"[concat(variables('factoryId'), '/dataflows/SomFoodPrices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SomFoodPricesMontly')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SomFoodPricesMontlySrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_SomFoodPricesMonthly_copied",
								"type": "DatasetReference",
								"parameters": {
									"datasetFileName": "SomFoodPricesMonthly_copied"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Somalia"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SomFoodPricesMontlySrc')]",
				"[concat(variables('factoryId'), '/datasets/ds_SomFoodPricesMonthly_copied')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenHealthFacilities_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Copy_target"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "KenHealthFacilities",
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Code",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Registration_number",
						"type": "String"
					},
					{
						"name": "Keph level",
						"type": "String"
					},
					{
						"name": "Facility type",
						"type": "String"
					},
					{
						"name": "Owner",
						"type": "String"
					},
					{
						"name": "Regulatory body",
						"type": "String"
					},
					{
						"name": "Beds",
						"type": "String"
					},
					{
						"name": "Cots",
						"type": "String"
					},
					{
						"name": "County",
						"type": "String"
					},
					{
						"name": "Constituency",
						"type": "String"
					},
					{
						"name": "Sub county",
						"type": "String"
					},
					{
						"name": "Ward",
						"type": "String"
					},
					{
						"name": "Operation status",
						"type": "String"
					},
					{
						"name": "Open_whole_day",
						"type": "String"
					},
					{
						"name": "Open_public_holidays",
						"type": "String"
					},
					{
						"name": "Open_weekends",
						"type": "String"
					},
					{
						"name": "Open_late_night",
						"type": "String"
					},
					{
						"name": "Service_names",
						"type": "String"
					},
					{
						"name": "Approved",
						"type": "String"
					},
					{
						"name": "Public visible",
						"type": "String"
					},
					{
						"name": "Closed",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenHealthIndicators_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dataset": {
						"type": "string",
						"defaultValue": "KenHealthIndicators_copied"
					}
				},
				"folder": {
					"name": "Kenya/Copy_target"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().dataset",
							"type": "Expression"
						},
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country Name",
						"type": "String"
					},
					{
						"name": "Country ISO3",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Indicator Name",
						"type": "String"
					},
					{
						"name": "Indicator Code",
						"type": "String"
					},
					{
						"name": "Value",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsIncomingFunding_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Copy_target"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "KenftsIncomingFunding",
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "budgetYear",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "amountUSD",
						"type": "String"
					},
					{
						"name": "srcOrganization",
						"type": "String"
					},
					{
						"name": "srcOrganizationTypes",
						"type": "String"
					},
					{
						"name": "srcLocations",
						"type": "String"
					},
					{
						"name": "srcUsageYearStart",
						"type": "String"
					},
					{
						"name": "srcUsageYearEnd",
						"type": "String"
					},
					{
						"name": "destPlan",
						"type": "String"
					},
					{
						"name": "destPlanCode",
						"type": "String"
					},
					{
						"name": "destPlanId",
						"type": "String"
					},
					{
						"name": "destOrganization",
						"type": "String"
					},
					{
						"name": "destOrganizationTypes",
						"type": "String"
					},
					{
						"name": "destGlobalClusters",
						"type": "String"
					},
					{
						"name": "destLocations",
						"type": "String"
					},
					{
						"name": "destProject",
						"type": "String"
					},
					{
						"name": "destProjectCode",
						"type": "String"
					},
					{
						"name": "destEmergency",
						"type": "String"
					},
					{
						"name": "destUsageYearStart",
						"type": "String"
					},
					{
						"name": "destUsageYearEnd",
						"type": "String"
					},
					{
						"name": "contributionType",
						"type": "String"
					},
					{
						"name": "flowType",
						"type": "String"
					},
					{
						"name": "method",
						"type": "String"
					},
					{
						"name": "boundary",
						"type": "String"
					},
					{
						"name": "onBoundary",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "firstReportedDate",
						"type": "String"
					},
					{
						"name": "decisionDate",
						"type": "String"
					},
					{
						"name": "keywords",
						"type": "String"
					},
					{
						"name": "originalAmount",
						"type": "String"
					},
					{
						"name": "originalCurrency",
						"type": "String"
					},
					{
						"name": "exchangeRate",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "refCode",
						"type": "String"
					},
					{
						"name": "createdAt",
						"type": "String"
					},
					{
						"name": "updatedAt",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsReqFundingCovid_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Copy_target"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "KenftsReqFundingCovid",
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "typeId",
						"type": "String"
					},
					{
						"name": "typeName",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "covidFunding",
						"type": "String"
					},
					{
						"name": "covidPercentageOfFunding",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsReqFunding_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Copy_target"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "KenftsReqFunding",
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenFoodPricesSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "e0d3fba6-f9a2-45d7-b949-140c455197ff/resource/517ee1bf-2437-4f8c-aa1b-cb9925b9d437/download/wfp_food_prices_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "admin1",
						"type": "String"
					},
					{
						"name": "admin2",
						"type": "String"
					},
					{
						"name": "market",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "commodity",
						"type": "String"
					},
					{
						"name": "unit",
						"type": "String"
					},
					{
						"name": "priceflag",
						"type": "String"
					},
					{
						"name": "pricetype",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "usdprice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenFoodPrices_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Copy_target"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "KenFoodPrice",
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "admin1",
						"type": "String"
					},
					{
						"name": "admin2",
						"type": "String"
					},
					{
						"name": "market",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "commodity",
						"type": "String"
					},
					{
						"name": "unit",
						"type": "String"
					},
					{
						"name": "priceflag",
						"type": "String"
					},
					{
						"name": "pricetype",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "usdprice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenFoodPrices_pqtarget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "pqtarget",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "admin1",
						"type": "String"
					},
					{
						"name": "admin2",
						"type": "String"
					},
					{
						"name": "market",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "commodity",
						"type": "String"
					},
					{
						"name": "unit",
						"type": "String"
					},
					{
						"name": "priceflag",
						"type": "String"
					},
					{
						"name": "pricetype",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "usdprice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenHealthFacilities')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Sources"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "7b9c2851-dc37-4a88-9dcb-62e55eb91baf/resource/df6bfc55-3b25-4309-a1b4-74afba434956/download/kenya-health-facilities-2017_08_02.xlsx"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Code",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Registration_number",
						"type": "String"
					},
					{
						"name": "Keph level",
						"type": "String"
					},
					{
						"name": "Facility type",
						"type": "String"
					},
					{
						"name": "Owner",
						"type": "String"
					},
					{
						"name": "Regulatory body",
						"type": "String"
					},
					{
						"name": "Beds",
						"type": "String"
					},
					{
						"name": "Cots",
						"type": "String"
					},
					{
						"name": "County",
						"type": "String"
					},
					{
						"name": "Constituency",
						"type": "String"
					},
					{
						"name": "Sub county",
						"type": "String"
					},
					{
						"name": "Ward",
						"type": "String"
					},
					{
						"name": "Operation status",
						"type": "String"
					},
					{
						"name": "Open_whole_day",
						"type": "String"
					},
					{
						"name": "Open_public_holidays",
						"type": "String"
					},
					{
						"name": "Open_weekends",
						"type": "String"
					},
					{
						"name": "Open_late_night",
						"type": "String"
					},
					{
						"name": "Service_names",
						"type": "String"
					},
					{
						"name": "Approved",
						"type": "String"
					},
					{
						"name": "Public visible",
						"type": "String"
					},
					{
						"name": "Closed",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenHealthIndicatorsSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "e849a312-8962-4595-ace8-500484490569/resource/daa8e9e1-4013-4075-a625-149317412a56/download/health_ken.csv/"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country Name",
						"type": "String"
					},
					{
						"name": "Country ISO3",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Indicator Name",
						"type": "String"
					},
					{
						"name": "Indicator Code",
						"type": "String"
					},
					{
						"name": "Value",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsFundingClusterGlobal_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Copy_target"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "KenftsFundingClusterGlobal",
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "clusterCode",
						"type": "String"
					},
					{
						"name": "cluster",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "percentFunded",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsFundingClusterSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/5b10afe9-cd6d-4dcf-9514-52890b3a776e/download/fts_requirements_funding_cluster_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "clusterCode",
						"type": "String"
					},
					{
						"name": "cluster",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "percentFunded",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsFundingCluster_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Copy_target"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "KenftsFundingCluster",
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "clusterCode",
						"type": "String"
					},
					{
						"name": "cluster",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "percentFunded",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsFundingCluster_pqtarget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "pqtarget",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsFundingGlobalClusterSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/b6136d9e-24a4-4864-adbc-adef30e62516/download/fts_requirements_funding_globalcluster_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "clusterCode",
						"type": "String"
					},
					{
						"name": "cluster",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "percentFunded",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsIncomingFundingSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/da2fbb4e-126c-4c98-9cdc-f74f953f96d7/download/fts_incoming_funding_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "budgetYear",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "amountUSD",
						"type": "String"
					},
					{
						"name": "srcOrganization",
						"type": "String"
					},
					{
						"name": "srcOrganizationTypes",
						"type": "String"
					},
					{
						"name": "srcLocations",
						"type": "String"
					},
					{
						"name": "srcUsageYearStart",
						"type": "String"
					},
					{
						"name": "srcUsageYearEnd",
						"type": "String"
					},
					{
						"name": "destPlan",
						"type": "String"
					},
					{
						"name": "destPlanCode",
						"type": "String"
					},
					{
						"name": "destPlanId",
						"type": "String"
					},
					{
						"name": "destOrganization",
						"type": "String"
					},
					{
						"name": "destOrganizationTypes",
						"type": "String"
					},
					{
						"name": "destGlobalClusters",
						"type": "String"
					},
					{
						"name": "destLocations",
						"type": "String"
					},
					{
						"name": "destProject",
						"type": "String"
					},
					{
						"name": "destProjectCode",
						"type": "String"
					},
					{
						"name": "destEmergency",
						"type": "String"
					},
					{
						"name": "destUsageYearStart",
						"type": "String"
					},
					{
						"name": "destUsageYearEnd",
						"type": "String"
					},
					{
						"name": "contributionType",
						"type": "String"
					},
					{
						"name": "flowType",
						"type": "String"
					},
					{
						"name": "method",
						"type": "String"
					},
					{
						"name": "boundary",
						"type": "String"
					},
					{
						"name": "onBoundary",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "firstReportedDate",
						"type": "String"
					},
					{
						"name": "decisionDate",
						"type": "String"
					},
					{
						"name": "keywords",
						"type": "String"
					},
					{
						"name": "originalAmount",
						"type": "String"
					},
					{
						"name": "originalCurrency",
						"type": "String"
					},
					{
						"name": "exchangeRate",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "refCode",
						"type": "String"
					},
					{
						"name": "createdAt",
						"type": "String"
					},
					{
						"name": "updatedAt",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsReqFundingCovidSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kenya/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/3a313ca0-e283-4763-8ef4-0efeaeeb671f/download/fts_requirements_funding_covid_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "typeId",
						"type": "String"
					},
					{
						"name": "typeName",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "covidFunding",
						"type": "String"
					},
					{
						"name": "covidPercentageOfFunding",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KenftsReqFundingSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dataset": {
						"type": "string",
						"defaultValue": "KenftsReqFunding"
					}
				},
				"folder": {
					"name": "Kenya/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "d0bf93aa-bc16-426b-b53b-c8c90fac98a4/resource/a1273a2a-7fa5-4233-8ba5-d756abc2baee/download/fts_requirements_funding_ken.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "countryCode",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "typeId",
						"type": "String"
					},
					{
						"name": "typeName",
						"type": "String"
					},
					{
						"name": "startDate",
						"type": "String"
					},
					{
						"name": "endDate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "requirements",
						"type": "String"
					},
					{
						"name": "funding",
						"type": "String"
					},
					{
						"name": "percentFunded",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SomFoodPricesMonthly_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"datasetFileName": {
						"type": "string",
						"defaultValue": "SomFoodPricesMonthly_copied"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().datasetFileName",
							"type": "Expression"
						},
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SomFoodPricesMontlySrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Somalia/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "?dataset=FEWS_NET_Staple_Food_Price_Data&country=SO&format=csv&fields=website&end_date"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "<!DOCTYPE html>",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SomFoodPricesSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_humdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Somalia/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "26727d1b-af49-4323-9215-c2ac479abb87/resource/39614bfb-0f9c-4800-8997-e68e41a38ced/download/wfp_food_prices_som.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "admin1",
						"type": "String"
					},
					{
						"name": "admin2",
						"type": "String"
					},
					{
						"name": "market",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "commodity",
						"type": "String"
					},
					{
						"name": "unit",
						"type": "String"
					},
					{
						"name": "priceflag",
						"type": "String"
					},
					{
						"name": "pricetype",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "usdprice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_humdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SomFoodPrices_copied')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_injectionsa",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"datasetFileName": {
						"type": "string",
						"defaultValue": "SomFoodPrices_copied"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().datasetFileName",
							"type": "Expression"
						},
						"folderPath": "copied",
						"container": "datakind"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "admin1",
						"type": "String"
					},
					{
						"name": "admin2",
						"type": "String"
					},
					{
						"name": "market",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "commodity",
						"type": "String"
					},
					{
						"name": "unit",
						"type": "String"
					},
					{
						"name": "priceflag",
						"type": "String"
					},
					{
						"name": "pricetype",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "usdprice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_injectionsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_datakindDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datakindpostgres",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string",
						"defaultValue": "datakindtable"
					}
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "public",
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datakindpostgres')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_datakindDB2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datakindpostgres",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table": {
						"type": "string",
						"defaultValue": "datakind"
					}
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "public",
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datakindpostgres')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_datakindpostgres')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('ls_datakindpostgres_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_humdata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_humdata_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_injectionsa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_injectionsa_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_KenFoodPrices_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "cleandate"
						},
						{
							"name": "cast1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          date as string,",
						"          admin1 as string,",
						"          admin2 as string,",
						"          market as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          category as string,",
						"          commodity as string,",
						"          unit as string,",
						"          priceflag as string,",
						"          pricetype as string,",
						"          currency as string,",
						"          price as string,",
						"          usdprice as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"cast1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"source1 filter(not(startsWith(date, '#'))) ~> filter1",
						"filter1 derive(date = toDate(date)) ~> cleandate",
						"cleandate cast(output(",
						"          date as date,",
						"          admin1 as string,",
						"          admin2 as string,",
						"          market as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          category as string,",
						"          commodity as string,",
						"          unit as string,",
						"          priceflag as string,",
						"          pricetype as string,",
						"          currency as string,",
						"          price as float,",
						"          usdprice as float",
						"     ),",
						"     errors: true) ~> cast1",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenFoodPrices_copied')]",
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenHealthFacilities')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "KenHealthFacilities_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Code as short,",
						"          Name as string,",
						"          Registration_number as string,",
						"          {Keph level} as string,",
						"          {Facility type} as string,",
						"          Owner as string,",
						"          {Regulatory body} as string,",
						"          Beds as short,",
						"          Cots as short,",
						"          County as string,",
						"          Constituency as string,",
						"          {Sub county} as string,",
						"          Ward as string,",
						"          {Operation status} as string,",
						"          Open_whole_day as boolean,",
						"          Open_public_holidays as boolean,",
						"          Open_weekends as boolean,",
						"          Open_late_night as boolean,",
						"          Service_names as string,",
						"          Approved as boolean,",
						"          {Public visible} as boolean,",
						"          Closed as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/KenHealthFacilities_copied')]",
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenHealthIndicators')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "KenHealthIndicators_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "cast1"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Country Name} as string,",
						"          {Country ISO3} as string,",
						"          Year as string,",
						"          {Indicator Name} as string,",
						"          {Indicator Code} as string,",
						"          Value as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"filter1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"split1@Good cast(output(",
						"          {Country Name} as string,",
						"          {Country ISO3} as string,",
						"          Year as integer,",
						"          {Indicator Name} as string,",
						"          {Indicator Code} as string,",
						"          Value as float",
						"     ),",
						"     errors: true) ~> cast1",
						"source1 filter(not(startsWith(Year, '#'))) ~> filter1",
						"cast1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     stagingSchemaName: 'public',",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/KenHealthIndicators_copied')]",
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsFundingCluster')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_KenftsFundingCluster_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "ds_KenftsFundingClusterGlobal_copied",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "types"
						},
						{
							"name": "join1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          countryCode as string,",
						"          id as string,",
						"          name as string,",
						"          code as string,",
						"          startDate as string,",
						"          endDate as string,",
						"          year as string,",
						"          clusterCode as string,",
						"          cluster as string,",
						"          requirements as string,",
						"          funding as string,",
						"          percentFunded as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(output(",
						"          countryCode as string,",
						"          id as string,",
						"          name as string,",
						"          code as string,",
						"          startDate as string,",
						"          endDate as string,",
						"          year as string,",
						"          clusterCode as string,",
						"          cluster as string,",
						"          requirements as string,",
						"          funding as string,",
						"          percentFunded as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"types split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"join1 filter(not(startsWith(source1@countryCode, '#'))) ~> filter1",
						"filter1 derive(id = toInteger(source1@id),",
						"          startDate = toDate(source1@startDate),",
						"          endDate = toDate(source1@endDate),",
						"          year = toInteger(source1@year),",
						"          funding = toFloat(source1@funding),",
						"          percentFunded = toFloat(source1@percentFunded),",
						"          clusterCode = toInteger(source1@clusterCode)) ~> types",
						"source1, source2 join(source1@countryCode == source2@countryCode,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenftsFundingCluster_copied')]",
				"[concat(variables('factoryId'), '/datasets/ds_KenftsFundingClusterGlobal_copied')]",
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsIncomingFunding')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "KenftsIncomingFunding_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "types"
						}
					],
					"scriptLines": [
						"source(output(",
						"          date as string,",
						"          budgetYear as string,",
						"          description as string,",
						"          amountUSD as string,",
						"          srcOrganization as string,",
						"          srcOrganizationTypes as string,",
						"          srcLocations as string,",
						"          srcUsageYearStart as string,",
						"          srcUsageYearEnd as string,",
						"          destPlan as string,",
						"          destPlanCode as string,",
						"          destPlanId as string,",
						"          destOrganization as string,",
						"          destOrganizationTypes as string,",
						"          destGlobalClusters as string,",
						"          destLocations as string,",
						"          destProject as string,",
						"          destProjectCode as string,",
						"          destEmergency as string,",
						"          destUsageYearStart as string,",
						"          destUsageYearEnd as string,",
						"          contributionType as string,",
						"          flowType as string,",
						"          method as string,",
						"          boundary as string,",
						"          onBoundary as string,",
						"          status as string,",
						"          firstReportedDate as string,",
						"          decisionDate as string,",
						"          keywords as string,",
						"          originalAmount as string,",
						"          originalCurrency as string,",
						"          exchangeRate as string,",
						"          id as string,",
						"          refCode as string,",
						"          createdAt as string,",
						"          updatedAt as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"types split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"source1 filter(not(startsWith(date, '#'))) ~> filter1",
						"filter1 derive(date = toDate(date)) ~> types",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/KenftsIncomingFunding_copied')]",
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KenftsReqFundingCovid')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "KenftsReqFundingCovid_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "types"
						}
					],
					"scriptLines": [
						"source(output(",
						"          countryCode as string,",
						"          id as string,",
						"          name as string,",
						"          code as string,",
						"          typeId as string,",
						"          typeName as string,",
						"          startDate as string,",
						"          endDate as string,",
						"          year as string,",
						"          requirements as string,",
						"          funding as string,",
						"          covidFunding as string,",
						"          covidPercentageOfFunding as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"types split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"source1 filter(not(startsWith(countryCode, '#'))) ~> filter1",
						"filter1 derive(id = toInteger(id)) ~> types",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/KenftsReqFundingCovid_copied')]",
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SomFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_SomFoodPrices_copied",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_datakindDB2",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						},
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     cols as string",
						"}",
						"source(output(",
						"          date as string,",
						"          admin1 as string,",
						"          admin2 as string,",
						"          market as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          category as string,",
						"          commodity as string,",
						"          unit as string,",
						"          priceflag as string,",
						"          pricetype as string,",
						"          currency as string,",
						"          price as string,",
						"          usdprice as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 filter(not(contains(array(toString(columns())), startsWith(#item, \"#\")))) ~> filter1",
						"filter1 split(contains(array(toString(columns())), isNull(#item)),",
						"     disjoint: false) ~> split1@(Null, Good)",
						"split1@Good sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SomFoodPrices_copied')]",
				"[concat(variables('factoryId'), '/datasets/ds_datakindDB2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pq_KenFoodPrices')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ds_KenFoodPrices_copied",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ds_KenFoodPrices_copied",
							"dataset": {
								"referenceName": "ds_KenFoodPrices_copied",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared ds_KenFoodPrices_copied = let AdfDoc = AzureStorage.BlobContents(\"https://pcoulibalystorage.blob.core.windows.net/datakind/copied/KenFoodPrice\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"ds_KenFoodPrices_copied\",\r\n  #\"Removed top rows\" = Table.Skip(Source, 1) in #\"Removed top rows\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenFoodPrices_copied')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pq_KenftsFundingCluster')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ds_KenftsFundingCluster_copied",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ds_KenftsFundingCluster_copied",
							"dataset": {
								"referenceName": "ds_KenftsFundingCluster_copied",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared ds_KenftsFundingCluster_copied = let AdfDoc = AzureStorage.BlobContents(\"https://pcoulibalystorage.blob.core.windows.net/datakind/copied/KenftsFundingCluster\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"ds_KenftsFundingCluster_copied\",\r\n  #\"Removed top rows\" = Table.Skip(Source, 1) in #\"Removed top rows\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_KenftsFundingCluster_copied')]"
			]
		}
	]
}